* {
  box-sizing: border-box;
}

.login {
padding: 20px;
}

.chat {
padding: 20px;
}


.prevMsg {
border-top:2px;
border-top-color: #222
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
